
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hurriyet Emlak - Hello World</title>
</head>
<body>
    <div>
        Hurriyet Emlak - Hello World
    </div>
</body>
</html>
